<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UserLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
    <add key="Token_ENDPOINT" value="http://172.20.236.2:7808/entrust3/service"/>   
		<add key="Token_UserGroup" value=""/>
		<add key="Token_Islive" value="true"/>
		<add key="usetokenUser" value="true"/>   
		<add key="entrustUsername" value="UPMUSER"/>
		<add key="entrustPss" value="waterfall"/>
		<add key="upm_connectionstring" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.100.20.12)(PORT=1540))(CONNECT_DATA=(SERVICE_NAME=UBANG)));User Id=appdev;Password={upmpass};"/>
    <add key="upm_Authentication" value="Basic VVBNVVNFUjpDb25zb2xpZGF0ZWRQQDU1"/>
    <add key="upmpass" value="foKBu4Uoeb9FRXy5bBv1HQ=="/>
    </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
